#jumbotron{
	background-color: #42b9f5;
	color: black;
	text-align: center;
	margin-top: 40px;
	border-radius: 0px;
}

footer {
	padding: 5px 5px 0px 5px;
	background-color: #42b9f5;
	margin-bottom: 0px;
	margin-top: 10px;
}


h1 {
	/*text-align: center;*/
	font-weight:bold;
}

.card-hotel{
	flex: 1 200px;
	/*padding: 2px 5px;*/
	margin-top: 10px;
}


.btn-reserva {

	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{

	padding-right: 20px;
}

img {
	border-radius: 0px;
}

#carousel {
	height: 30vh;
	/*size: auto;*/
	object-fit: cover;
	border-radius: 4px;
}
